<a href="http://localhost:3000/directors">Directors</a>
<a href="http://localhost:3000/actors">Actors</a>
<a href="http://localhost:3000/movies">Movies</a>

<h1>Movies</h1>

<a href="http://localhost:3000/movies/new_form">Add a New movie</a>

<table>
  <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
  <% @movies.each do |movie| %>
  <tr>
    <td><img src="<%= movie.image_url %>" width="80"></td>
    <td><%= movie.title %></td>
    <td><%= movie.year %></td>
    <td><%= movie.duration %></td>
    <td><%= truncate(movie.description) %></td>
    <td>
      <a href="http://localhost:3000/movies/<%= movie.id %>">Show</a>
    </td>
    <td>
      <a href="http://localhost:3000/movies/<%= movie.id %>/edit_form">Edit</a>
    </td>
    <td>
      <a href="http://localhost:3000/delete_movie/<%= movie.id %>">Delete</a>
    </td>
  </tr>
  <% end %>
</table>
